body {
    margin: 0;
    padding: 0;
    background-color: rgb(255,230,230); 
}

.wrapper {
    width: 50%;
    text-align: center;
    padding: 0 auto;
    margin: 0 auto;
}


.img-info {
    width: 100%;

}

h1 {
    text-align: center;
    padding: 30px 65px 0px;
    color: rgb(26,50,0);
    line-height: 44px;
    position: relative;
    font-size: 50px;
    font-family: 'Quattrocento Sans', sans-serif;
    
}

p {
    padding: 30px 65px 20px;
    font-family: 'Yantramanav', sans-serif;
    color: black;
    line-height: 24px;
    font-size: 25px;
    text-align: center;
    
}

.top-nav {
    list-style-type: none;
    padding: 0;
    margin: 0 auto;
    overflow: hidden;
    width: 100%;
    background-color: rgb(0,173,247);
    position: fixed;
    top: 0;
    width: 100%;

}

.top-navli {
    display: inline-block;
    font-family: 'Baloo 2', cursive;
    font-size: x-large;
}

.top-nava {
    padding: 50px;
    text-decoration: none;
    text-align: center;
    
}

.top-navli .top-nava {
    color: rgb(255,230,230);
    text-transform: uppercase;
    
}

.top-navli a:hover {
    background-image: linear-gradient(to right, rgb(255,230,230), rgb(255,230,230));
    color: black;
    transition-property: all;
    transition-timing-function: ease-in-out;
    transition-delay: 1s;
    transition: 1s;

    
}

.devacademy {
    width: 500px;
    border-radius: 150px;
    margin-left: auto;
    margin-right: auto;
    position: fixed;
    left: 50px;
}

.devacademy2 {
    width: 500px;
    border-radius: 150px;
    position: fixed;
    margin-left: auto;
    margin-right: auto;
    right: 50px;
}

.devacademyofficial {
    width: 400px;
    border-radius: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    top: 290px;
    left: 760px;
    height: 350px;
    
}

.counterstrikedlore {
    width: 500px;
    border-radius: 150px;
    margin-left: auto;
    margin-right: auto;
}

.project-p {
    position: absolute;
    left: 700px;
    top: 300px;
    font-size: x-large;
}

.div2 {
    background-image: linear-gradient(to right, rgb(255,230,230), rgb(255,230,230), rgb(96,212,247));
}

.musicproduction{
    width: 500px;
    border-radius: 150px;
    margin-left: auto;
    margin-right: auto;
    float: right;
}

.project-p2 {
    position: absolute;
    left: 600px;
    top: 570px;
    font-size: x-large;
}

.divmusic {
    background-image: linear-gradient(to right, rgb(62,228,247), rgb(255,230,230), rgb(255,179,179));
    
}

.thick {
    text-align: center;
    font-family: 'Yantramanav', sans-serif;
    font-size: 30px;
    
}

h2{
    text-align: center;
    font-family: 'Yantramanav', sans-serif;
    margin: 0;
    padding: 0;
}

h3 {
    text-align: center;
    font-family: 'Yantramanav', sans-serif;
    margin: 0;
    padding: 0;
}

.spacefromtop {
    padding-top: 100px;
}

.side-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: ;
    position: fixed;
    height: 100%;
    
  }
  
 .side-navli .side-nava {
    display: block;
    padding: 8px 50px;
    text-decoration: none;
    font-family: 'Baloo 2', cursive;
    font-size: large;
    text-align: center;
  }
  .side-nava {
      color: black;
  }
  .side-navli :hover {
    background-color: rgb(0,173,247);
    color: black;
    transition-property: all;
    transition-timing-function: ease-in-out;
    transition-delay: 0.5s;
    transition: 0.5s;
  }
  .logo {
      float: left;
  }